
:root {
    --announcement-bar-height: 0px;
    --show-fade-animation: 1;
  }
      .l-tags-container {width: 92%; margin: 0 auto;}
  
  @media only screen and (min-width: 48rem) {
    .l-tags-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 60px auto 0; /* Added 60px padding to the top */
      max-width: 720px;
    }
  }
  
  @media only screen and (min-width: 64rem) {
    .l-tags-container {
      max-width: 1080px;
    }
  }
  
  .m-tag-card {
    border: 1px solid var(--secondary-border-color);
    border-radius: 10px;
    height: 180px;
    margin: 0 0 20px;
    position: relative;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  .m-tag-card:hover {
    transform: translateY(-5px);
  }
  
  .m-tag-card:hover:before {
    box-shadow: var(--article-shadow-hover), 0 0 0 transparent;
  }
  
  @media only screen and (min-width: 48rem) {
    .m-tag-card {
      margin: 0 20px 40px;
      width: 320px;
    }
  }
  
  .m-tag-card:before {
    border-radius: 10px;
    bottom: 0;
    box-shadow: var(--article-shadow-normal), 0 0 0 transparent;
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: 1;
  }
  
  .m-tag-card__link {
    background-color: #000;
    border-radius: 10px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
    text-decoration: none; /* Removed underlines for links */
  }
  
  .m-tag-card__link.no-picture {
    background-color: var(--secondary-subtle-color);
  }
  
  .m-tag-card__picture {
    border-radius: 10px;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .m-tag-card__info {
    bottom: 15px;
    color: #fff;
    left: 15px;
    font-size: 20px;  
    position: absolute;
    z-index: 2;
  }
  
  .m-tag-card__info.no-picture {
    color: var(--titles-color);
  }
  
  .m-tag-card__name {
    font-size: 1.5rem; /* Increased font size */
    font-weight: 700; /* Increased font boldness */
    letter-spacing: 0.3px;
    line-height: 1.3;
    margin: 0 0 5px;
    text-decoration: underline; /* Added underline to text */
  }
  
  .m-tag-card__counter {
    display: block;
    font-size: 1rem; /* Increased font size */
    font-weight: 600; /* Increased font boldness */
    letter-spacing: 0.2px;
    text-decoration: overline; /* Added overline to text */
      }
    /* h1 {
    font-size: 4.5rem; /* Adjust based on layout and visual hierarchy */
    font-weight: 700;
    color: #333; /* Adjust for contrast and visual appeal */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase; /* Optional for a distinctive look */
    text-decoration: none; /* Remove any default underline */
    background-color: rgba(255, 255, 255, 0.1); /* Optional subtle background */
    margin-bottom: 20px; /* Adjust spacing as needed */
    text-decoration: underline;
    text-decoration-color: #199461;   
    text-align: center;    
      } */
      
  